<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net45" requireReinstallation="true" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net35" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net35" />
  <package id="SplashScreen.Winforms" version="1.0.0" targetFramework="net35" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net35" />
</packages>